/* Mixins */
/* Styles
----------------------------------- */
HTML, BODY {
  height: 100%;
}

BODY {
  background: black;
  font-family: Arial;
  font-size: 8px;
}

UL {
  padding: 0;
  margin: 0;
}

LI {
  list-style: none;
}

.wrapper {
  position: absolute;
  top: -10em;
  bottom: -10em;
  margin: auto;
  width: 100%;
  height: 20em;
  text-align: center;
}
.wrapper:before {
  content: "";
  display: inline-block;
  height: 20em;
  width: 20px;
  vertical-align: middle;
}

/* Dottes
----------------------------------- */
.dottes {
  display: inline-block;
  width: 2em;
  background: transparent !important;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dottes:before, .dottes:after {
  content: "";
  display: block;
  width: 2em;
  height: 0;
  border-bottom: 2em solid #1b1b1b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dottes:before {
  margin-bottom: 2em;
}

/* Digit
----------------------------------- */
.digit {
  display: inline-block;
  width: 10em;
  margin: 0 1em;
  vertical-align: middle;
}

.clear {
  clear: both;
}

.digit__item {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.digit__item:before, .digit__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item--h {
  clear: both;
  width: 5em;
  height: 2em;
  margin: 0 auto;
}

.item--1:before, .item--1:after {
  border-bottom-color: transparent !important;
}
.item--1:before {
  left: -2em;
  border-left-color: transparent !important;
}
.item--1:after {
  right: -2em;
  border-right-color: transparent !important;
}

.item--4 {
  width: 5em;
  margin: 6em auto 0;
}
.item--4:before {
  left: -1em;
  border-left: 0;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.item--4:after {
  right: -1em;
  border-right: 0;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}

.item--7:before, .item--7:after {
  border-top-color: transparent !important;
}
.item--7:before {
  left: -2em;
  border-left-color: transparent !important;
}
.item--7:after {
  right: -2em;
  border-right-color: transparent !important;
}

.item--v {
  float: left;
  width: 2em;
  height: 5em;
  margin: 0.5em 0;
}
.item--v:before {
  top: -2em;
}
.item--v:after {
  bottom: -2em;
}

.item--3,
.item--6 {
  float: right;
}

.item--2:before,
.item--5:before {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
}
.item--2:after,
.item--5:after {
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}

.item--3:before,
.item--6:before {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
}
.item--3:after,
.item--6:after {
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.item--2:after,
.item--5:before {
  border-left-color: transparent !important;
}

.item--3:after,
.item--6:before {
  border-right-color: transparent !important;
}

.item {
  background: #1b1b1b;
}
.item:before, .item:after {
  border-color: #1b1b1b;
}

.digit--sec {
  vertical-align: text-bottom;
  font-size: .5em;
}
